body {
  background-color: #e6e6ec;
  font-family: "Poppins", "Courier", "sans";
}

body > * {
  background-color: #b9b9b9;
  border-style: none;
  color: #222222;
  box-shadow: 3px 3px 1px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 10px;
  max-width: 300px;
}

#input, .rezultat {
  padding: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.4rem;
  max-width: 300px;
}

div {
  padding: 10px;
}

input, select {
  font-size: 1.2rem;
  width: 30%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border-style: solid;
  border-color: #777777;
  border-width: 2px;
}

input:hover, select:hover {
  border-color: #555555;
}

button {
  background-color: #222222;
  border: none;
  color: #d7dbe2;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 4px 17px;
  font-family: "Poppins", "Courier", "sans";
}

button:hover {
  background-color: #333844;
  cursor: pointer;
}
  
#dob:hover, #masa:hover, #visina:hover {
  cursor: text;
} 

#spol:hover > * {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

.rezultat {
  text-align: center;
}

#greska {
  background-color: #442929;
  border: none;
  color: #b9b9b9;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px;
  font-family: "Poppins", "Courier", "sans";
  box-shadow: 3px 3px 1px;
}